---
- name: Store value for $HOME for later use
  ansible.builtin.set_fact:
    home: "{{ ansible_env['HOME'] }}"

- name: Create folder where git repo for dotfiles will be tracked
  ansible.builtin.file:
    path: "{{ home }}/dotfiles"
    state: directory

- name: Clone the repo for dotfiles
  ansible.builtin.git:
    repo: git@github.com:benpops89/.dotfiles.git
    dest: "{{ home }}/dotfiles"
    update: no
  register: clone_dotfiles

- name: Setup the symlinks using stow
  ansible.builtin.command: /opt/homebrew/bin/stow .
  args:
    chdir: "{{ ansible_env.HOME }}/dotfiles"
  changed_when: true
  when: clone_dotfiles.changed