---
- name: Check if homebrew installed
  ansible.builtin.shell: |
    if command -v brew >/dev/null 2>&1; then
      echo "installed"
    else
      echo "missing"
    fi
  args:
    executeable: /bin/bash
  register: brew_check
  changed_when: false

- name: Install homebrew
  block:
    - name: Download homebrew installation script
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
        dest: /tmp/install_homebrew.sh
        mode: u=rwx,go=rx
    - name: Execute Homebrew installation script
      command: /bin/bash /tmp/install_homebrew.sh
  when: brew_check.stdout != "installed"

- name: Install homebrew packages
  community.general.homebrew:
    name: "{{ item }}"
    state: present
    path: "/home/linuxbrew/.linuxbrew/bin"
  loop: "{{ homebrew_installed_packages }}"
