[Desktop Entry]
Name=BambuStudio
Exec={{ lookup('env', 'HOME') }}/Apps/bambu/Bambu.AppImage %u
Icon={{ lookup('env', 'HOME') }}/Apps/bambu/bambu.png
Type=Application
Categories=Utility;
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
